.ftLato{
    font-family: 'Lato'
}
.ftGris{
    color: #5d5d5d;
}
.titulo{
    font-size: 1.5rem;
    font-family: 'Lato';   
}
.maxymin{
    font-size: 1rem;
}
.cardStyle{
    transition: max-height .7s ease;
}
.diaclima{
font-family: 'Lato';
font-size: 1.1rem;
}




