
.ftGris{
    color: #5d5d5d;
}
.titulo{
    font-size: 1.5rem;
    font-family: 'Lato';   
}
.maxymin{
    font-size: 1rem;
}
.horas_card{
    display:flex;
    align-items:center;
}
.cardStyle{
    transition: max-height .7s ease;
}
.ancho65{
    min-width: 65%;
}
.diaclima{
font-family: 'Lato';
font-size: 1.1rem;
}
.ftMaxMin{
    color: #d74d4d;
}
@media (min-width: 1000px) {
    .horas_card{
       width:20%; 
    }  
}




